@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#081b29;
}
html {
  scroll-behavior: smooth;
}
/* src/index.css or src/App.css */
.chatbot-button {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1000; /* Ensure it's above other content */
}

.chatbot-button img {
  width: 100px;
  height: 100px;
}

.chatbot-container {
  position: fixed;
  top:20%;
  right: 20px;
  width: 300px;
  height: 600px; /* Default height */
  z-index: 1000;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .chatbot-container {
    height: 600px; /* Adjust height for mobile devices */
  }
  .chatbot-button img {
    width: 70px;
    height: 70px;
  }
}
