@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:#081b29;
}
html {
  scroll-behavior: smooth;
}
/* src/index.css or src/App.css */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  z-index: 1000;
  background: white; /* Ensure the background is set for the chat box */
  border-radius: 10px; /* Add border radius if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
  overflow: hidden; /* Prevent overflow */
}

.chatbot-button {
  position :fixed;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.chatbot-button img {
  width: 100px;
  height: 100px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  outline: none;
  z-index: 1001;
}

.close-button:hover {
  color: #000;
}
